---
import backgroundImage from '@img/background.webp'
---

<style>
  .noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: '';
    /* you can control opacity of noise  */
    opacity: 0.05;
    z-index: 1000;
    pointer-events: none;
    background: url(noise.gif);
  }
</style>

<div
  class='absolute top-0 -z-50 h-[100dvh] w-[100dvw] overflow-hidden bg-cover bg-center opacity-95'
  style=`background-image: url(${backgroundImage.src});`
>
  <div class='noise'></div>
  <slot />
</div>
