---
// Style imports
import '@style/tailwind.css'

// Props
interface Props {
  /** Title of the page. */
  title: string

  /** Specific OpenGraph page title. */
  ogTitle?: string

  /** Description of the page. */
  description?: string

  /** Image thumbnail for the page. */
  image?: {
    url: string
    alt: string
  }

  /** Whether or not to disable indexing */
  disableIndexing?: boolean
}

// Background image
import { Background, Header, Scripts } from '@component/global'

// Font imports
import '@fontsource/averia-serif-libre'
---

<html lang='en'>
  <Header {...Astro.props} />
  <body
    data-dev={import.meta.env.DEV}
    class='flex flex-col overflow-x-hidden font-averia data-[dev]:debug-screens'
  >
    <Background />
    <div>
      <slot />
    </div>
    <Scripts />
  </body>
</html>
