---
// Component imports
import { Layout, Timer, Button } from '@globals'
---

<Layout title='Parrot'>
  <main
    class='flex h-[100dvh] w-screen flex-col items-center justify-center px-10 py-12 text-center text-lg font-semibold text-pink-100'
  >
    <section>
      <h1 class='m-2 font-bungee text-5xl text-green-400'>PARROT</h1>
    </section>
    <Timer timestamp={1710086931566} />
    <Button text='reset' id='reset-time' />
  </main>
  <script>
    // Reset the timer by storing the current timestamp in local storage
    document.getElementById('reset-time').addEventListener('click', () => {
      localStorage.setItem('timestamp', Date.now().toString())
      location.reload()
    })
  </script>
</Layout>
