---
import { Button } from '@globals'
---

<article
  class='ml-2 flex flex-col items-center gap-1 text-black [&_input]:h-6 [&_select]:h-6'
>
  <div class='flex items-center gap-2'>
    <label for='goal-picker'>
      Change your goal to:
      <input id='goal-picker' type='number' value='1000' min='1' max='100000' />
      <select id='goal-picker-time-frequency'>
        <option value='seconds'>Seconds</option>
        <option value='minutes'>Minutes</option>
        <option value='hours' selected>Hours</option>
        <option value='days'>Days</option>
        <option value='weeks'>Weeks</option>
        <option value='months'>Months</option>
        <option value='years'>Years</option>
      </select>
    </label>
  </div>
  <Button text='Change Goal' id='submit-goal-picker' />
  <script>
    const goalPicker = document.getElementById(
      'goal-picker'
    ) as HTMLInputElement
    const goalPickerTimeFrequency = document.getElementById(
      'goal-picker-time-frequency'
    ) as HTMLSelectElement
    const submitGoalPicker = document.getElementById('submit-goal-picker')

    // if there is predefined goal, set the value of the input to that
    const goalQuantity = window.localStorage.getItem('goalQuantity')
    const goalUnit = window.localStorage.getItem('goalUnit')
    if (goalQuantity && goalUnit) {
      goalPicker.value = goalQuantity
      goalPickerTimeFrequency.value = goalUnit
    }

    submitGoalPicker.addEventListener('click', () => {
      const goal = goalPicker.value
      const timeFrequency = goalPickerTimeFrequency.value
      window.localStorage.setItem('goalQuantity', goal)
      window.localStorage.setItem('goalUnit', timeFrequency)
      window.location.reload()
    })
  </script>
</article>
